@model List<ProductVM>
@{
    ViewBag.Title = "Products";
}

<h3>Titel</h3>


<div class="row">
    @foreach (ProductVM pvm in Model)
    {
        <a href="/Home/ShowProduct/@pvm.Product.ID">
            <div class="productListItem">
                <div>
                    <img src="~/Content/Images/Product/@pvm.GetFirstImages().ImageUrl" alt="@pvm.GetFirstImages().Alt" class="img-responsive"/>
                </div>
                <div>
                    <h3>
                        @pvm.Product.Model
                    </h3>
                    <span>@pvm.Product.BHP HK -</span>
                    <span>@pvm.Product.Km</span>
                </div>
                <div>
                    <span>@pvm.Product.Price</span>
                </div>
            </div></a>
    }
</div>
